:root {
    /* Colors */
        --medium-purple: #755CDE;
        --sandy-brown: #F6A560;
        --wewak: #F39E9E;
        --burnt-sienna: #EB7565;
        --fountain-blue: #61C4B7;
        --tawny-port: #552049;
        --black: #030303;
        --tapa: #7A746E;
        --seashell-peach: #FFF7F0;
    
    /* Font */
        --fs-sm: 1.4rem;
        --fs-base: 1.6rem;
        --fs-lg: 1.8rem;
        --fs-xl: 2.4rem;
        --fs-2xl: 2.6rem;
        --fs-3xl: 3.2rem;
        --fs-4xl: 3.6rem;
        --fs-5xl: 4rem;
        --fs-6xl: 4.4rem;
        --fs-7xl: 5.6rem;

        --fm-primary: 'Plus Jakarta Sans', sans-serif;

    /* Line Height */
        --lh-base: 1.5;
        --lh-lg: 2.6rem;
        --lh-xl: 2.8rem; 
}