body {
    color: var(--tapa);

    font-size: var(--fs-base);
    line-height: var(--lh-base);   
}

.primary-title {
    color: var(--black);

    font-size: var(--fs-4xl);
    font-weight: 700;

    @include mq(medium) { font-size: var(--fs-6xl); }
    @include mq(largest) { font-size: var(--fs-7xl); }
}

.secondary-title {
    color: var(--black);

    font-size: var(--fs-2xl);
    font-weight: 700;

    @include mq(medium) { font-size: var(--fs-3xl); }
    @include mq(largest) { font-size: var(--fs-5xl); }
}

.tertiary-title {
    color: var(--black);

    font-size: var(--fs-xl);
    font-weight: 700;

    @include mq(medium) { font-size: var(--fs-3xl); }
}

.paragraph {
    color: var(--tapa);

    font-size: var(--fs-base);
    font-weight: 500;
    line-height: var(--lh-lg);

    @include mq(medium) {
        font-size: var(--fs-lg);
        line-height: var(--lh-xl);
    }
}